<!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles/navbar.css') }}"> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand cursor-onhover" href="/">
      <span class="nav-title">RaiderHacks</span>
    </a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation"> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">

      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/blog"> Blog </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/members"> Membership </a>
        </li>
        
	<li class="nav-item">
          <a class="nav-link" href="http://6j3eqgji67wiozeognmytm734kdifeplvg2qa5acmoo36ppnc7g2hbad.onion/"> TOR HIDDEN SERVICES</a>
        </li>

      </ul>

      <ul class="navbar-nav my-2 my-lg-0">

        {% if current_user.is_authenticated %}

        <li class="nav-item">
          <a class="nav-link" href="/logout"> Logout </a>
        </li>
        {% else %}
 
        {% endif %}

      </ul>
    </div>
  </div>
</nav>
