{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="static/styles/login2.css">
<link rel="stylesheet" href="static/styles/login.css">
<div class="container">
  <form action="/login" id = "postform" method="POST">

    <label class="login" for="email-address"></label>
    <input type="email" pattern="^[A-Za-z0-9._%+-]+@ttu.edu$"class="login" id="email-address" name="email-address" placeholder="John.Doe@ttu.edu" autocomplete="off"></input>

    <label class="login" for="Password"></label>
    <input type="password" class="login" id="Password" name="Password" placeholder="password" autocomplete="off"></input>

    <div class="mx-auto">
      <h1 class="text-center"> Login </h1>
    </div>
    <div class="form-group">


      <label for="email">TTU Email</label>
      <input type="email" pattern="^[A-Za-z0-9._%+-]+@ttu.edu$" class="form-control" id="email" name="email" placeholder="John.Doe@ttu.edu">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="password">
    </div>
      <label>
        <a href="/register">Register</a>
      </label>
    <input type="button" value="Login" onclick="create_account();"><br><br>
  </form>
</div>

<script type="text/javascript" src="../../../static/scripts/sodium_formatted.js" async></script>

<script>
	window.sodium = {

			onload: function(sodium)	{

			}
		};

</script>



<script>

function create_account()
{

	var salt = sodium.randombytes_buf(16);

	var i = 0;

	while ( i < 16 )
	{
		salt[i] = 0;

		i++;
	}

	var hash_salt = document.getElementById('password').value + document.getElementById('email').value;

	console.log(salt);

	var t0 = performance.now();
	
	var out = sodium.crypto_pwhash(64,hash_salt,salt,5,sodium.crypto_pwhash_MEMLIMIT_INTERACTIVE/4,sodium.crypto_pwhash_ALG_DEFAULT);

	var t1 = performance.now();

	console.log("Time duration:");

	console.log( (t1-t0)/1000 );

	var out_base64 = btoa(out);

	console.log("Base64 Encoded H_1: " + out_base64);
	
	document.getElementById('password').value = out_base64;

	var xhr = new XMLHttpRequest();

	xhr.open(document.getElementById('postform').method,document.getElementById('postform').action,true);

	xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');

	xhr.setRequestHeader('X-Requested-With','XMLHttpRequest');

	var x = 'password=' + document.getElementById('password').value + '&email=' + document.getElementById('email').value;

	xhr.send(x);

	xhr.onload = function()
	{
		console.log("xhr status");

		console.log(xhr.status);

		user_status = xhr.responseText;

		console.log(user_status);

	}
	
}

</script>
<body class="text-center">
    
  <main class="form-signin">
    <form action="/login" method="POST">
      <img class="mb-4" src="../static/images/logo.png" alt="" width="50" height="50">
      <h1 class="h3 mb-3 fw-normal">Login</h1>

      <label for="email" class="visually-hidden">TTU Email</label>
      <input type="email" pattern="^[A-Za-z0-9._%+-]+@ttu.edu$"class="form-control" id="email" name="email" placeholder="Email">

      <label for="password" class="visually-hidden">Password</label>
      
      <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>

      <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
      <p> Not a member? <a href="/members#sign-up-form">Sign up!</a></p>
    </form>
  </main>
  
</body>
{% endblock content %}
